h1, h2, h3, h4, h5, p {
  font-family: Roboto;
}

.bold-text {
  font-weight: bold;
}

.navbar {
  background-color: #E9E9E9;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.basic-info-container, .property-list-container {
  margin-top: 20px;
}

.basic-info-container p {
  font-size: 30px;
}

.offer-label, .new-listing-label {
  margin-top: 0.5rem;
  font-weight: bold;
}

.add-new-property-button {
  margin-top: 20px;
}